/*********************************************

CSS styles

**********************************************/

/* Crimson Text font */
@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap');

:root {
  --beige: #FFEDE1;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Crimson Text', serif;
}

body {
  background: var(--beige);
}

/* Center all content in middle of page */
#content-wrapper {
  /* background: red; */
  max-width: 800px;
  margin: 0 auto;

}

/**********************
Hero section
***********************/

#hero {
  /* background: green; */
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;

  flex-flow: column;
}

h1#title {
  text-align: center;
  /* background: orange; */
  font-size: 4rem;
}

#bird-arrow {
  width: 80px;
  text-align: center;
  /* margin-top: 100px; */

  position: absolute;
  bottom: 10vh;

}


/**********************
Introduction section
***********************/

#introduction p {
  font-size: 1.8rem;
  text-align: center;

  margin-top: 30vh;
}