/*********************************************

CSS styles

**********************************************/

/* Crimson Text font */
@import url("https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap");

/* Noto Serif Hong Kong */
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+HK&display=swap");

:root {
  --beige: #ffede1;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Beige color behind About page */
#background-color {
  position: fixed;

  width: 100%;
  height: 100vh;
  z-index: -5;
  background: var(--beige);
}

body {
  /* background: var(--beige); */
  height: 3000px;
  font-family: "Crimson Text", serif;
}

/* Center all content in middle of page */
#content-wrapper {
  /* background: red; */
  max-width: 800px;
  margin: 0 auto;
  padding: 0 30px;
}

/**********************
Canvas
***********************/
canvas {
  /* background: red; */
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  z-index: -1;
}

/**********************
Crinkled paper
***********************/
figure#crinkled-paper {
  /* background: red; */
  position: fixed;
  pointer-events: none;
  z-index: 1;

  width: 100%;
}

#crinkled-paper img {
  width: 100%;
}

/**********************
Nav section
***********************/

nav {
  display: flex;
  width: 100%;
  background: green;
}

#nav-about {
  position: absolute;
  right: 0px;
  margin: 50px;
  padding: 15px 10px;
  /* background: red; */

  text-transform: uppercase;
  text-decoration: none;
  color: black;
  text-align: center;
  font-size: 1.2rem;

  transition: all 0.51s;

  height: 80px;
  width: 150px;
}

#nav-about:hover {
  font-size: 1.7rem;
}

/**********************
Hero section
***********************/

#hero {
  /* background: green; */
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;

  flex-flow: column;

  margin-top: 20px;
}

#title {
  /* background: orange; */

  text-align: center;
  height: 250px;
  width: 500px;
  z-index: 0;

  font-size: 5.8rem;
  font-weight: 500;
  line-height: 5.2rem;

  animation-name: blur-effect;
  animation-duration: 10s;
  animation-iteration-count: 1;

  display: flex;
  flex-flow: column;
  justify-content: center;

  /*font-family: "Noto Serif HK", serif; */

  /* filter: blur(4px); */
}

#title:hover {
  cursor: pointer;
}

.chinese {
  font-family: "Noto Serif HK", serif;
}

@keyframes blur-effect {
  0% {
    color: transparent;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  }
  50% {
    color: transparent;
    text-shadow: 0 0 1px rgba(0, 0, 0, 0.7);
  }
  100% {
    color: transparent;
    text-shadow: 0 0 0px rgba(0, 0, 0, 1);
  }
}

.title-line {
  /* background: red; */
  padding-bottom: 5px;
}

#title-stories {
  margin-right: 100px;
}

#title-of-chinese {
  font-style: italic;
  margin-left: 100px;
  /* background: cornflowerblue; */
}

#title-characters {
  margin-right: 50px;
}

#bird-arrow {
  width: 80px;
  text-align: center;
  /* margin-top: 100px; */

  position: absolute;
  bottom: 10vh;
}

/**********************
Introduction section
***********************/

#introduction p {
  font-size: 1.9rem;
  text-align: center;

  margin-top: 225px;
  margin-bottom: 270px;

  /* padding: 0 30px; */
  /* background: red; */
}

/**********************
Characters
***********************/
.character-heading {
  text-align: center;
  width: 100%;
  /* font-style: italic; */
  /* text-transform: uppercase; */
  /* letter-spacing: 2px; */
}

.character-spacing {
  height: 1300px;
}

/**********************
About page
***********************/

#about-body {
  height: auto;
}

#about-spacing {
  height: 100px;
}

#about-heading {
  margin-top: 100px;
  margin-bottom: 20px;
}

#about-description p {
  font-size: 1.7rem;
  margin-bottom: 30px;
}
